@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #e4e4e4;
    font-family: "Rubik", sans-serif;
}

/* HEADER */

.logo img {
    height: 50px;
    width: auto;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 50px;
    box-sizing: border-box;
    z-index: 1000;
}

.contact-info a {
    margin-left: 20px;
    font-size: 30px;
    color: #e67e22;
}

.contact-info a:hover {
    color: #e67e20 !important;
    text-shadow: 0 0 0.5rem #f3923d;
    transition: all 0.2 ease;
}

/* BODY */

img {
    width: 100%;
}

h2 {
    color: #e67e22;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
}

p {
    font-family: "Rubik",sans-serif;
    font-size: 20px;
}

.btn-about {
    color: #ff6347 !important;
    background-color: rgba(0,0,0,0);
    padding: 1.4vw 2.5vw;
    margin: 5vw 0;
    border-radius: 10px;
    text-decoration: none;
    border: 2px solid;
    border-color: #e67e22;
    transition: all 0.5s ease;
    position: relative; 
}

.btn-about:hover {
    background-color: #e67e22;
    color: #fff !important;
}

/* FOOTER */

footer {
    background-color: #333;
    padding: 20px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

footer p{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #fff;
    text-align: right;
    padding: 0 20px;
}